<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159990997817-6f382o1qjbnga4k132u5dktmh7uev3dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159990997817-6f382o1qjbnga4k132u5dktmh7uev3dj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159990997817-eqitbmdlf8k9397r2hd6prvpl7lfk5rn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkD4Q-5r5wAQ8vgttAcZGPnMKdSJYRqjI</string>
	<key>GCM_SENDER_ID</key>
	<string>159990997817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssoup</string>
	<key>PROJECT_ID</key>
	<string>ssoup-82c05</string>
	<key>STORAGE_BUCKET</key>
	<string>ssoup-82c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159990997817:ios:66516696123fac95ed7ee8</string>
</dict>
</plist>